<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!--<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration, 
             Version=5.2.1.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration"  />
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practces/2010/unity">
    <containers>
      <!--MyContainer为自定义名称 只需要和调用时名称保持一致即可-->
      <container name="MyContainer">
        <!--type为对象的名称,mapTo为注入对象的名称 写法为用逗号隔开两部分，一是类的全部，包括命名空间，二是程序集名称-->
        <register type="CoreLogic.Interface.IAccountLogic,CoreLogic" mapTo="CoreLogic.Implementation.AccountLogic,CoreLogic">
          <lifetime type="singleton" />
        </register>
      </container>
    </containers>
  </unity>

</configuration>