/InvoicingSystemAPI/CoreLogic/bin
/InvoicingSystemAPI/DBDataModel/bin
/InvoicingSystemAPI/DBDataModel/obj
/InvoicingSystemAPI/CoreLogic/obj
/InvoicingSystemAPI/InvoicingSystemAPI/obj
/InvoicingSystemAPI/InvoicingSystemAPI/bin
/InvoicingSystemAPI/InvoicingSystemAPI.Tests/obj
/InvoicingSystemAPI/InvoicingSystemAPI.Tests/bin
/InvoicingSystemAPI/ViewDataModel/bin
/InvoicingSystemAPI/ViewDataModel/obj
/InvoicingSystemWeb/Common/obj
/InvoicingSystemWeb/Common/bin
/InvoicingSystemWeb/DataModel/obj
/InvoicingSystemWeb/DataModel/bin
/InvoicingSystemWeb/InvoicingSystemWeb/obj
/InvoicingSystemWeb/InvoicingSystemWeb/bin
/InvoicingSystemWeb/InvoicingSystemWeb.Tests/obj
/InvoicingSystemWeb/InvoicingSystemWeb.Tests/bin
