@model DataModel.ChangePwdModel
<div class="form-horizontal margin">
    @Html.TextBoxFor(t => t.employerID, new { @class = "hidden" })
    <div class="form-group">
        <label class="col-sm-2 control-label">旧密码</label>
        <div class="input-group col-sm-10">
            @Html.PasswordFor(t => t.oldPwd, new { @class = "form-control", @placeholder = "旧密码" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">新密码</label>
        <div class="input-group col-sm-10">
            @Html.PasswordFor(t => t.newPwd, new { @class = "form-control", @placeholder = "新密码" })
            @*<input id="newPwd" class="form-control" placeholder="新密码" name="newPwd" minlength="6" type="password" required>*@
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">确认密码</label>
        <div class="input-group col-sm-10">
            @Html.PasswordFor(t => t.rePwd, new { @class = "form-control", @placeholder = "确认密码" })
            @*<input placeholder="确认密码" class="form-control" id="rePwd" name="rePwd" equalto="#newPwd" type="password" required>*@
        </div>
    </div>
</div>
<script>
    $().ready(function () {
        $("#modal-content").validate({
            rules: {
                newPwd: {
                    required: true,
                    minlength: 6
                },
                rePwd: {
                    required: true,
                    minlength: 6,
                    equalTo: "#newPwd"
                }
            },
            messages: {
                rePwd: {
                    equalTo: "两次输入的密码不一致"
                }
            }
        });
    });
    function Save() {
        SaveModal();
    }
</script>