@model DataModel.EmployeModel
<div class="form-horizontal container">
    @Html.TextBoxFor(Model => Model.cid, new { @class = "hidden" })
    @Html.TextBoxFor(Model => Model.ctime, new { @class = "hidden" })
    @Html.TextBoxFor(Model => Model.employeID, new { @class = "hidden" })
    @Html.TextBoxFor(Model => Model.employePwd, new { @class = "hidden" })
    <div class="form-group">
        <label class="col-sm-2"></label>
    </div>
</div>
