@*<style>
    .modal-lg-99 {
        width: 90% !important;
        margin: auto;
    }
</style>*@
<!-- general form elements -->
<div class="modal fade" id="modal-dialog" data-backdrop="static" style="padding-left:0;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseDialogModal()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="dialog-title"></h4>
            </div>
            <div class="modal-body">
                <div id="dialogModal-content">

                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->